#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Custom Swiper navigation buttons */
.swiper-button-next-custom,
.swiper-button-prev-custom {
  color:rgba(0,0,0,0); /* White with 50% opacity */
  padding: 10px;
  border-radius: 50%;
}

/* Add hover effect */
.swiper-button-next-custom:hover,
.swiper-button-prev-custom:hover {
  color: rgba(9, 79, 165, 0.8); /* Increase opacity on hover */
}

/* Add hover effect */
.mySwiper:hover .swiper-button-next-custom,
.mySwiper:hover .swiper-button-prev-custom {
 
  color:  #2cccc4;}

  .active {
    background-color:#219EBC !important;
    color:white !important; 
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }
  
  .active,.mybutton:hover {
    background-color: #95a3b2; /* Change the background color on hover */
    transform: scale(1.1);
  }
  