body{
  margin: 0;
padding: 0;
}
button {
    all: unset; /* Resets all properties to their initial values */
    display: block; /* Makes the button behave like a block element (optional) */
  
}
button:hover{
  cursor: pointer;
}
.MuiBox-root.css-1am0y6y {
  width: 100%;
  height: 100%;
}

/* .css-1am0y6y {
  width: 100%;
  height: 100%;
  background-color: red;

padding: 0;
} */
