.border{

  border-bottom:3px solid rgba(103, 103, 103, 0.114) ;
  border-radius: 20px;

}
.border{
  border: 2px solid red;
}
.border2{
  border: 2px solid blue;

}
.hide-on-mobile {
  display: none;
}

@media (min-width: 768px) {
  .hide-on-mobile {
    display: block;
  }
}
